.card {
    width: 90%;
    display: flex;
    margin: 2rem;
    background-color: var(--cor-cabecalho);
    border-radius: 0.63rem;
}

.card-texto-amarelo {
    font-size: 1rem;
    color: var( --cor-titulo-menu);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.card-esquerda {
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.saiba-mais {
    background-color: var(--cor-titulo-menu);
    color: var(--cor-cabecalho);
    width: 80%;
    padding: 0.8rem 1rem;
    text-align: center;
}

.card-texto-2 {
    color: rgba(0, 47, 82, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
}

.paragrafo-card {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 0.88rem;
    color: rgba(0, 0, 0, 85);
    text-align: left;
}

.card-direita {
    margin: 1rem 1rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.estrelinhas {
    width: 50%;
}

.card-esquerda-logo-logo {
    margin-right: 1.5rem;
}

.card-esquerda-logo-logo:hover {
    scale: 1.1;
}

@media screen and (min-width: 1024px) {
    .card {
        width: 40%;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1728px) {
    .card {
        padding: 5% 0;
        margin: 0;
        width: 40%;
        justify-content: center;
    }

    .card-esquerda {
        width: 50%;
    }

    .card-texto-amarelo {
        font-size: 2rem;
    }
}