.carrossel__titulo {
    font-size: 1.13rem;
    color: var(--cor-titulo-menu);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 5%;
    background-color: var(--cor-cabecalho);
}

.swiper-slide img{
    width: 100%;
}

 .swiper-pagination {
    position: initial;
    margin: 1rem 0 1rem 0;
}

.swiper {
    display: flex;
    flex-direction: column-reverse;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.62rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }

    .swiper {
        width: 70%;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        padding: 1.3%;
    }

    .swiper {
        width: 50%;
        margin-bottom: 2%;
    }

    .containerComputador{
        display: flex;
        align-items: center;
        padding: 3% 0;
        margin: 2%;
    }

    .carrossel {
        width: 40%; 
    }
}

